name: Manual - Produce Docker Image, GH Release

on:
  push:
    branch:
      - controller-1.0.3

jobs:
  # Manual workflow to backfill any failed/missed builds
  # Update the variable TAG below as well as line #5 in values-sigsci.yaml file
  # This action will build and push the tagged in imaged to docker hub, build and push Github Tag
  build_push_release:
    runs-on: ubuntu-latest
    env:
      TAG: "1.0.3"
    steps:
      - uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_API_TOKEN }}
      - name: Build and push Docker image
        env:
          REPO: signalsciences/sigsci-nginx-ingress-controller
        run: |
          docker build . --file Dockerfile --build-arg NGINX_INGRESS_VERSION=v${TAG} --tag ${REPO}:${TAG}
          docker push ${REPO}:${TAG}

      - name: Create Github Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.TAG }}
          release_name: Match release ${{ env.TAG }}
          body: |
            Match release kubernetes/ingress-nginx v${{ env.TAG }}
          draft: false
          prerelease: false